<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: -50px;">
        <a href="@Url.Content("~/")" class="navbar-brand">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Content("~/Home/Index")">Accueil</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/Home/Index")">A propos</a> 
                  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/Home/Index")">contact</a>
                </li>

            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a href="@Url.Content("~/Home/Login")" class="nav-link">Connexion</a></li>

                <li class="nav-item"> <a href="@Url.Content("~/Home/SignUp")" class="nav-link">Inscription</a></li>

            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

    </div>

     <hr />
        <footer class="navbar navbar-expand-lg navbar-dark bg-info">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>