@model SP.MVC.Models.HomeModel

@{
    ViewBag.Title = "AddEvenement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter Evènement</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.Evenement.IdEvenement)
        @Html.HiddenFor(m => m.IdParcelle)
        <div class="form-group">
            @Html.LabelFor(model => model.Evenement.EvenementParcelleId, "EvenementParcelleId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group form-actions">
                @Html.LabelFor(model => model.EvenementParcelle.IdEvenementParcelle, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">@Html.DropDownListFor(model => model.EvenementParcelle.IdEvenementParcelle, Model.SelectListEvenementParcelle, "Aucun évenement", htmlAttributes: new { @style = "min-height:34px;width:max", @class = "form-control" })</div>
            </div>

            qsdqs
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListParcelles")
</div>
