@model HomeModel

@{
    ViewBag.Title = "ListParcelles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes Parcelles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdParcelle }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdParcelle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdParcelle })
        </td>
    </tr>
}

</table>
