@model SP.MVC.Models.HomeModel

@{
    ViewBag.Title = "ListParcelles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes Parcelles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Lng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Parcelles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a class="btn btn-success" href="@Url.Content("~/Home/EditParcelle?id=" + item.IdParcelle)">Editer</a> |
                <a class="btn btn-info" href="@Url.Content("~/Home/ListEvenements?id=" + item.IdParcelle)">Evènements</a> |
                <a class="btn btn-danger" href="@Url.Content("~/Home/DeleteParcelle?id=" + item.IdParcelle)">Supprimer</a>
            </td>
        </tr>
    }

</table>
