@model SP.MVC.Models.HomeModel

@{
    ViewBag.Title = "ListEvenementsParcelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Référentiel évènements</h2>

<p>
    <a class="btn btn-success" href="@Url.Content("~/Home/AddEvenementParcelle?id=0")">Ajouter</a> |
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.EvenementParcelle.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.EvenementParcelle.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.EvenementParcelles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-success" href="@Url.Content("~/Home/EditEvenementParcelle?id=" + item.IdEvenementParcelle)">Editer</a>
                @*<a class="btn btn-danger" href="@Url.Content("~/Home/DeleteEvenementParcelle?id=" + item.IdEvenementParcelle)">Supprimer</a>*@
            </td>
        </tr>
    }

</table>
